<footer class="footer py-3" style="background-color: #EEE; margin-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-fill">
        <div class="">
          <h6><strong>Registered Office:</strong></h6>
          <p class="text-muted" style="line-height: 1.2em;">
            Hamilton Close<br/>
            Telford House<br/>
            Basingstoke<br/>
            RG21 6YT<br/>
            United Kingdom</p>
        </div>
        <div class="ml-auto">
          <h6><ul style="display: inline; list-style-type: none; padding-left: 250px;">
            <li style="float: right; margin: 0 0 0 10px;"><a href="http://www.instagram.com/wadhac_uk/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
            <li style="float: right; margin: 0 0 0 10px;"><a href="https://uk.linkedin.com/in/james-rake-49443a115" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
            <li style="float: right; margin: 0 0 0 10px;"><a href="https://twitter.com/Wadhac1993" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
            <li style="float: right; margin: 0 0 0 10px;"><a href="https://www.facebook.com/Wadhac-869130299870572/" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          </ul></h6>
          <p class="text-muted" style="text-align: right;">Copyright &copy; 2016-{{date.getFullYear()}}. <a href="http://wadhac.co.uk/" target="_blank">Wadhac Ltd.</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
