<div class="jumbotron" style="background: #eee url('../../assets/images/security.jpg') 50% 45% repeat-x;">
  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1 style="color: #fff;">Wadhac Ltd.</h1>
    <p style="color: #fff;">Delivering pro-active integrated and holistic solutions to our customer's risk portfolio needs<br/>through re-engineered and measurable business processes!</p>
    <p>&nbsp;</p>
  </div>
</div>
<!-- MENU -->
<div class="container">
  <div class="row my-5">
    <div class="d-flex">

      <div class="w-75">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">James Rake</h3>
          </div>
          <div class="panel-body" style="padding: 0;">
            <ul class="list-group" style="margin: 0;">
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;">Chief Executive Officer</span><strong>Role:</strong><br/>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>About Me:</strong><br/>
                <span>James is our illustrious CEO who has learned a majority of his skills through his time in the ring when he used to wrestle professionally under the pseudonym 'the hulk'. He later leveraged his business accumen and became Times business person of the year <em>1994</em>.</span>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>Day to day Activities:</strong><br/>
                <span>Has access to everything in WADHAC and is exceedingly cyber aware.</span>
              </li>
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;"><a href="mailto:jrake@wadhac.co.uk">jrake@wadhac.co.uk</a></span><strong>Work Email:</strong><br/>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-25 m-3 mt-5">
        <img class="img-thumbnail" src="../../assets/images/ceo1.jpg" style="width:100%; height:200px;">
        <span style="float: right; margin: 0 0 0 10px;"><a href="https://uk.linkedin.com/in/james-rake-49443a115" target="_blank"> <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn</a></span>
      </div>

      <div class="w-75">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Scott Hookshanks</h3>
          </div>
          <div class="panel-body" style="padding: 0;">
            <ul class="list-group" style="margin: 0;">
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;">Chief Financal Officer</span><strong>Role:</strong><br/>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>About Me:</strong><br/>
                <span>Scott is great with numbers and achieved a grade 'D' in his mathematics GCSE, Scott is married  to a successful author with whom he has 3 children who he loves almost as much as their pet guinea pig &quot;<em>Gerald</em>&quot;. He also holds a PHD in &quot;<em>Beyonce</em> studies&quot; from Warwick University.</span>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>Day to day Activities:</strong><br/>
                <span>Has access to company finances and some client information.</span>
              </li>
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;"><a href="mailto:shookshanks@wadhac.co.uk">shookshanks@wadhac.co.uk</a></span><strong>Work Email:</strong><br/>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-25 m-3 mt-5">
        <img class="img-thumbnail" src="../../assets/images/scotthookshanks1.jpg" style="width:100%; height:200px;">
        <span style="float: right; margin: 0 0 0 10px;"><a href="https://uk.linkedin.com/in/scott-hookshanks-1901aa116" target="_blank"> <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn</a></span>
      </div>

    </div>
  </div>

  <div class="row my-5">
    <div class="d-flex">

      <div class="w-75">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Mike Sauna</h3>
          </div>
          <div class="panel-body" style="padding: 0;">
            <ul class="list-group" style="margin: 0;">
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;">CISO &amp; IT Manager</span><strong>Role:</strong><br/>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>About Me:</strong><br/>
                <span>Mike is a level headed, boy genius and ex-Anonymous hacker. As our CISO he knows everything about anything in the cyber space, famed mainly for hacking Barbie (for reasons unknown) this reformed hackivist has straightened himself out and joined WADHAC to save them from cyber threats.</span>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>Day to day Activities:</strong><br/>
                <span>Identifying, Protecting, Detecting, Responding and Recovering from Cyber attacks</span>
              </li>
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;"><a href="mailto:msauna@wadhac.co.uk">msauna@wadhac.co.uk</a></span><strong>Work Email:</strong><br/>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-25 m-3 mt-5">
        <img class="img-thumbnail" src="../../assets/images/mikesauna12.jpg" style="width:100%; height:200px;">
        <span style="float: right; margin: 0 0 0 10px;"><a href="https://uk.linkedin.com/in/mike-sauna-9151b1116" target="_blank"> <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn</a></span>
      </div>

      <div class="w-75">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Jim Black</h3>
          </div>
          <div class="panel-body" style="padding: 0;">
            <ul class="list-group" style="margin: 0;">
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;">CCO</span><strong>Role:</strong><br/>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>About Me:</strong><br/>
                <span>Jim is our smooth talking client relations head and ex-<em>rugby</em> player. WADHAC employed him after he accidentally chatted up the CEO's daughter, who instead of killing him offered him a place in client relations. Loves sport. ninja warrior and is often distracted by the latest fashion.</span>
              </li>
              <li class="list-group-item" style="text-align: justify;">
                <strong>Day to day Activities:</strong><br/>
                <span>Holds client meeting information and bookings</span>
              </li>
              <li class="list-group-item">
                <span class="text-primary" style="display:inline-block; float: right;"><a href="mailto:jblack@wadhac.co.uk">jblack@wadhac.co.uk</a></span><strong>Work Email:</strong><br/>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-25 m-3 mt-5">
        <img class="img-thumbnail" src="../../assets/images/jb1.jpg" style="width:100%; height:200px;">
        <span style="float: right; margin: 0 0 0 10px;"><a href="https://uk.linkedin.com/in/jim-black-33343a115" target="_blank"> <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn</a></span>
      </div>

    </div>
  </div>
</div>
