<div class="jumbotron" style="background: #eee url('../../assets/images/microsoft_edge.jpg') 50% 35% repeat-x;">
  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1 style="color: #fff;">Wadhac Ltd.</h1>
    <p style="color: #fff;">Delivering pro-active integrated and holistic solutions to our customer's risk portfolio needs<br/>through re-engineered and measurable business processes!</p>
    <p>&nbsp;</p>
  </div>
</div>
<div style="background-color: #EEE;">
</div>
<!-- MENU -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5>Case Study: <a class="text-primary" href="https://www.microsoft.com/en-gb/windows/microsoft-edge" target="_blank">Microsoft Edge <i class="fa fa-edge"></i></a></h5>
      <p><img class="w-100" src="../../assets/images/edge_promo.jpg" alt="edge_promo.jpg"></p>
      <span class="d-block my-3">Wadhac Ltd. has upgraded all of its site computers to Microsoft Windows 10 to take advantage of brand new <span class="text-primary">Edge browser version <a class="text-primary" href="https://www.cvedetails.com/vulnerability-list/vendor_id-26/product_id-32367/version_id-185948/Microsoft-Edge--.html" target="_blank">12.10049</a></span>.</span>
      <span class="d-block my-3">Early benchmarks of the EdgeHTML engine-included in the first beta release of Edge in Windows 10 Build 10049-demonstrated drastically improved JavaScript performance in comparison to Trident 7 in Internet Explorer 11, and that Microsoft's new browser had similar performance to Google Chrome 41 and Mozilla Firefox 37. In the SunSpider benchmark, Edge performed faster than other browsers, while in other benchmarks it operated slower than Google Chrome, Mozilla Firefox and Opera.</span>
      <span class="d-block my-3">Later benchmarks conducted with the version included in 10122 showed significant performance improvement compared to both IE11 and Edge back in 10049. According to Microsoft's own benchmark result, this iteration of Edge performed better than both Chrome and Firefox in Google's Octane 2.0 and Apple's Jetstream benchmark.</span>
      <span class="d-block my-3">In July 2015, Edge scored 402 out of 555 points on the HTML5test. Chrome 43 and Firefox 38 scored 526 and 467 respectively, while Internet Explorer 11 scored 336.</span>
      <span class="d-block my-3">In August 2015, Microsoft released Windows 10 Build 10532 to insiders, which included Edge 21.10532.0. This beta version scored 440 out of 555 points on the HTML5test, this score is however lower by 5 points due to an error in the test feature detection; the real score should be 445 out of 555 points.</span>
      <span class="d-block my-3">Wadhac Ltd. hopes to see our web business be enabled by this fantastic technology!</span>
    </div>
    <div class="col-xs-11 col-xs-offset-1"><h1 class="text-muted" style="font-family: 'Alex Brush', cursive;">Mike Sauna</h1>
      <p><strong>CISO &amp; IT Manager</strong><br/>
        Wadhac Ltd.</p>
    </div>
  </div>
</div>
