<div class="jumbotron" style="background: #eee url('../../assets/images/Guy_Fawkes_mask_22mai2012.jpg') 50% 35% repeat-x;">
  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1 style="color: #fff;">Wadhac Ltd.</h1>
    <p style="color: #fff;">Delivering pro-active integrated and holistic solutions to our customer's risk portfolio needs<br/>through re-engineered and measurable business processes!</p>
    <p>&nbsp;</p>
  </div>
</div>
<div style="background-color: #EEE;">
</div>

<div class="container">
  <div class="row">
    <div class="d-flex flex-fill">
      <div class="mr-5">
        <h5><i class="fa fa-envelope"></i> Post:</h5>
        <p style="line-height: 1.2em;">
          Hamilton Close<br/>
          Telford House<br/>
          Basingstoke<br/>
          RG21 6YT<br/>
          United Kingdom</p>
      </div>
      <div class="flex-fill">
        <h5><i class="fa fa-street-view"></i> Map:</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9984.26266774031!2d-1.1184286562603536!3d51.2731103188416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487421eb5e9dab9d%3A0xe356eb041e43fadd!2sBasingstoke%2C+Hampshire+RG21+6YT!5e0!3m2!1sen!2suk!4v1456835786394" width="100%" height="450" frameborder="0" style="border:0; pointer-events: none;" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex flex-fill">
      <div class="mr-5">
        <h5><i class="fa fa-phone-square"></i> Telephone:</h5>
        <p style="line-height: 1.2em;">+44 1234 123456</p>
      </div>
      <div class="col-xs-8">
        <h5><i class="fa fa-phone-square"></i> Email:</h5>
        <p style="line-height: 1.2em;"><a href="mailto:msauna@wadhac.co.uk">msauna@wadhac.co.uk</a></p>
      </div>
    </div>
  </div>
</div>
