<div class="jumbotron" style="background: #eee url('../../assets/images/symantec_know.jpg') 50% 35% repeat-x;">
  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1 style="color: #fff;">Wadhac Ltd.</h1>
    <p style="color: #fff;">Delivering pro-active integrated and holistic solutions to our customer's risk portfolio needs<br/>through re-engineered and measurable business processes!</p>
    <p>&nbsp;</p>
  </div>
</div>
<div style="background-color: #EEE;">
</div>
<!-- MENU -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5>Case Study: <a class="text-warning" href="https://www.symantec.com/content/en/us/enterprise/fact_sheets/b-encryption-management-server.pdf" target="_blank">Symantec <i class="fa fa-check-circle-o"></i> Encryption Management Server (SEMS)</a></h5>
      <p><img class="w-100" src="../../assets/images/symantec-endpoint-encryption-video-hero.png" alt="symantec-endpoint-encryption-video-hero.png"></p>
      <span class="d-block my-3">Wadhac Ltd. is working with Symantec to push out <span class="text-warning">Symantec Encryption Management Server version <a class="text-warning" href="https://www.cvedetails.com/vulnerability-list/vendor_id-76/product_id-25631/Symantec-Encryption-Management-Server.html" target="_blank">3.3.2</a></span> to secure and provide integrity to the <a href="http://wadhac.co.uk/">wadhac.co.uk</a> network and the networks of our clients.</span>
      <span class="d-block my-3">Many organizations have approached encryption tactically, employing various point solutions as needs arose. Unfortunately,deploying point solutions to protect disks, email, and files often involves deploying and managing multiple managementconsoles. This piecemeal approach increases the complexity and administrative work load of ensuring correct policyenforcement and deployment in a timely and cost-effective manner.</span>
      <span class="d-block my-3">Encryption Management Server manages and automates security policies across Symantec's encryption solutions to defendsensitive data and avoid potential financial losses, legal ramifications, and brand damage resulting from a data breach.</span>
      <span class="d-block my-3">Encryption Management Server automates deployments,provisioning, key management, and policy enforcement forSymantec's encryption solutions, reducing administratorworkloads and ensuring consistent security policy across theorganization.</span>
      <span class="d-block my-3">Administrators can establish, enforce, and update securitypolicies in real-time across multiple integrated encryptionsolutions from a simple, web-based management console.Additionally, they can fine tune encryption policy assignmentusing optional enterprise directory integration.</span>
      <span class="d-block my-3">Encryption Management Server allows organizations toapproach encryption both tactically and strategically. By utilizing the centralized management capabilities ofEncryption Management Server, administrators can build their encryption framework gradually while maintaining control andorder as the organization grows.</span>
      <span class="d-block my-3">Wadhac Ltd. looks forward to setting the golden standards of encryption bar higher than our competitors!</span>
    </div>
    <div class="col-xs-11 col-xs-offset-1"><h1 class="text-muted" style="font-family: 'Alex Brush', cursive;">Mike Sauna</h1>
      <p><strong>CISO &amp; IT Manager</strong><br/>
        Wadhac Ltd.</p>
    </div>
  </div>
</div>
