<div class="jumbotron" style="background: #eee url('../../assets/images/LollipopForest.jpg') 50% 15% repeat-x;">
  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1 style="color: #fff;">Wadhac Ltd.</h1>
    <p style="color: #fff;">Delivering pro-active integrated and holistic solutions to our customer's risk portfolio needs<br/>through re-engineered and measurable business processes!</p>
    <p>&nbsp;</p>
  </div>
</div>
<div style="background-color: #EEE;">
</div>
<!-- MENU -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5>Case Study: <a class="text-success" href="https://www.android.com/intl/en_uk/versions/lollipop-5-0/#features" target="_blank">Android Lollipop <i class="fa fa-android"></i></a></h5>
      <p><img class="w-100" src="../../assets/images/android_lollipop.jpg" alt="android_lollipop.jpg"></p>
      <span class="d-block my-3">Wadhac Ltd. started issuing its staff members brand new Google Nexus devices running <span class="text-success">Android version <a class="text-success" href="https://www.cvedetails.com/vulnerability-list/vendor_id-1224/product_id-19997/version_id-186573/Google-Android-5.1.1.html" target="_blank">5.1.1</a> (Lollipop)</span> which are linked into the firms &quot;COPE&quot; (Corporate Owned, Personally Enabled) mobile device management system allowing its staff to retrieve email and files from the <a href="http://wadhac.co.uk/">wadhac.co.uk</a> network while both on site and away from the office.</span>
      <span class="d-block my-3">With Android 5.0 comes a new design system called Material Design, which includes a whole new set of user interface elements providing responsive, natural motion, realistic lighting and shadows, and familiar visual elements make it easier to navigate your device. Device notifications has also been massively improved resulting in fewer disruptions, phone calls don't interrupt what you're watching or playing, more intelligent ranking of notifications based on who they're from and the type of communication.</span>
      <span class="d-block my-3">Most importantly <span class="text-success"><strong>Android 5.1.1</strong></span> is <span class="text-success">keeping Wadhac Ltd's users <u>secure</u> with SELinux</span> enforcing for all applications means <span class="text-success">even better protection against vulnerabilities and malware</span>. Android Smart Lock securing our phones and tablets by pairing it with trusted devices like wearables or even company cars.</span>
      <span class="d-block my-3">We look forward to having a prosperous and productive workforce!</span>
    </div>
    <div class="col-xs-11 col-xs-offset-1"><h1 class="text-muted" style="font-family: 'Alex Brush', cursive;">Mike Sauna</h1>
      <p><strong>CISO &amp; IT Manager</strong><br/>
        Wadhac Ltd.</p>
    </div>
  </div>
</div>
