<div class="jumbotron" style="background: #eee url('../../assets/images/feetonserversmall.jpg') 50% 25% repeat-x;">
  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1 style="color: #fff;">Wadhac Ltd.</h1>
    <p style="color: #fff;">Delivering pro-active integrated and holistic solutions to our customer's risk portfolio needs<br/>through re-engineered and measurable business processes!</p>
    <p>&nbsp;</p>
  </div>
</div>
<div style="background-color: #EEE;">
</div>
<!-- MENU -->
<div class="container my-4">
  <div class="row">
    <div class="col-xs-12" style="text-align: justify;">
      <h3>Security Risk Management</h3>
    </div>
  </div>
  <div class="row">
    <div class="d-flex">
      <div class="col-xs-10" style="text-align: justify;">
					<span>
						Security is one of Wadhac Ltd's top concerns. Our specialist security experts have unbound knowledge when it comes to security
						be it cyber, information or physical we are the people for you. Our team have a diverse knowledge and remember we value our
						systems so we use them too! We wouldn't sell you awful systems that dont work, so we decided to demonstrate them on ourselves!
						For your firm, Security must be of the upmost importance, get us in to do the job right, first time.
					</span>
      </div>
      <div class="col-xs-2 align-self-center mx-5">
        <div style="text-align: center;">
          <span class="text-danger" style="font-size: 4em;"><fa-icon [icon]="faUnlock"></fa-icon></span><br/>
          <span class="text-danger">Security</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
  <div class="row">
    <div class="d-flex">
      <div class="col-xs-2 align-self-center mx-5">
        <div style="text-align: center;">
          <span class="text-warning" style="font-size: 4em;"><fa-icon [icon]="faUserSecret"></fa-icon></span><br/>
          <span class="text-warning">Risk</span>
        </div>
      </div>
      <div class="col-xs-10" style="text-align: justify;">
            <span>
              We cover every risk possible. We can give you the best risk reporting and the best mitigation ideas that are physically possible.
              We really are the real deal when it comes to risk. Having worked in risk for all of 6 months, we feel we are ready to impart our
              expert knowledge onto you! Any issues, we are the Risk team. Learn how to keep the information risks at bay with our useful and
              fully interactive seminars. Have all your staff come watch one of our Customer service team give a truly awe inspiring pitch.
            </span>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
  <div class="row">
    <div class="d-flex">
      <div class="col-xs-10" style="text-align: justify;">
            <span>
              The management process begins with the identification of threats to different systems and people. We then seek to protect you against such threats. If our protection doesn't work and somehow a hacker does get through, we will detec thtis attack using our state of the art detection applicatoins. We will then respond with full force to the hacker. Don't you worry! The miscreant will be made to pay for their crimes. Finally we recover any files that may gave been lost. They would have succeeded if it wasn't for us meddling kids!
            </span>
      </div>
      <div class="col-xs-2 align-self-center mx-5">
        <div style="text-align: center;">
          <span class="text-success" style="font-size: 4em;"><fa-icon [icon]="faFireExtinguisher"></fa-icon></span><br/>
          <span class="text-success">Management</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align: justify;">
      <h3>NIST Cybersecurity Framework</h3>
      <span class="d-block my-3">The Cybersecurity Framework was created in response to <a href="https://www.whitehouse.gov/the-press-office/2013/02/12/executive-order-improving-critical-infrastructure-cybersecurity" target="_blank">Executive Order 13636</a>, which aims to improve the security of the nation's critical infrastructure from cyber attacks. <br/>
        While directed to &quot;critical infrastructure&quot; organizations, the Framework is a useful guide to any organization looking to improve their cyber security posture.</span>
      <span class="d-block my-3">The document is divided into the framework core, the implementation tiers, and the framework profile.
        The framework core describes 5 functions of an information security program: identify, protect, detect, respond, and recover.
        The Framework references other documents like <a href="http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53r4.pdf" target="_blank">NIST 800-53</a> and <a href="http://www.isaca.org/cobit/pages/default.aspx" target="_blank">COBIT 5</a> for specific controls and processes needed to implement these functions.</span>
    </div>
  </div>
  <div class="row">
    <div class="d-flex flex-fill justify-content-center">
      <div class="col-xs-2 col-xs-offset-1">
        <span class="badge badge-primary ml-4">Identify</span>
        <ul style="font-size: 10px;">
          <li>Asset Management</li>
          <li>Business Environment</li>
          <li>Government</li>
          <li>Risk Assessment</li>
          <li>Risk Management Strategy</li>
        </ul>
      </div>
      <div class="col-xs-2">
        <span class="badge badge-info ml-4">Protect</span>
        <ul style="font-size: 10px;">
          <li>Access Control</li>
          <li>Awareness and Training</li>
          <li>Data Security</li>
          <li>Information Protection and Procedures</li>
          <li>Maintenance</li>
          <li>Protective Technology</li>
        </ul>
      </div>
      <div class="col-xs-2">
        <span class="badge badge-warning ml-4">Detect</span>
        <ul style="font-size: 10px;">
          <li>Anomalies and Events</li>
          <li>Security Continuous Monitoring</li>
          <li>Detection Process</li>
        </ul>
      </div>
      <div class="col-xs-2">
        <span class="badge badge-danger ml-4">Respond</span>
        <ul style="font-size: 10px;">
          <li>Response Planning</li>
          <li>Communications</li>
          <li>Analysis</li>
          <li>Mitigation</li>
          <li>Improvements</li>
        </ul>
      </div>
      <div class="col-xs-2">
        <span class="badge badge-success ml-4">Recover</span>
        <ul style="font-size: 10px;">
          <li>Recover Planning</li>
          <li>Improvements</li>
          <li>Communications</li>
        </ul>
      </div>
    </div>
  </div>
</div>
